@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
}

@keyframes floatingLogos {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
  }
  
  .animate-floatingLogos img {
    animation: floatingLogos 2s ease-in-out infinite;
  }

  @keyframes moveLeft {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  @keyframes moveRight {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(100%);
    }
  }
  
  .hover-animate:hover .animate-left {
    animation: moveLeft 2s linear infinite;
  }
  
  .hover-animate:hover .animate-right {
    animation: moveRight 2s linear infinite;
  }
  

   /* AboutPage3.css */

/* Define the first animation for inward movement */


/* @keyframes zoomIn {
  from {
    transform: translateY(-10px);
    opacity: 0; 
  }
  to {
    transform: translateY(0);
    opacity: 1; 
  }
} */

/* Define the second animation for outward movement */
@keyframes zoomOut {
  from {
    transform: translateY(0); /* Start with content in its original position */
    opacity: 1; /* Start with opacity 1 */
  }
  to {
    transform: translateY(-10px); /* Move content up slightly */
    opacity: 0; /* Fade out */
  }
}

/* Apply the animation to the container */
.zoom-in {
  animation: zoomIn 0.5s ease-out; /* Animation for inward movement */
}

.zoom-out {
  animation: zoomOut 0.5s ease-out; /* Animation for outward movement */
}


@keyframes marquee {
  from { transform: translateX(calc(0 + var(--gap))); }
  to { transform: translateX(-100%); }
}

.animate-marquee {
  animation: marquee 10s linear infinite;
}

.marquee-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10; /* Adjust z-index as needed */
}

/* Global CSS to apply spinnerGrow animation to all elements */

@keyframes spinnerGrow {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  50% {
    transform: scale(1.2);
    opacity: 3;
  }
  
}

/* Apply spinnerGrow animation to all elements */
.meat, .free, img {
  animation: spinnerGrow 3s ease-in-out ;
}






  